target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
hs_err_pid1052.log
hs_err_pid15844.log
mvnw
mvnw.cmd
mysql-connector-java-8.0.30.jar
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
lib/mysql-connector-java-8.0.30.jar
lib/protobuf-java-3.19.4.jar

